<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Public Gists | GitHub</title>

	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>
<body>
	<header>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<span class="h2"><strong>GitHub</strong> <span>Gists</span></span> <span class="gist-type label label-default">Public</span>
				</div>
			</div>
		</div>
	</header>

	<div class="container-fluid main" ng-app="publicGistsApp" ng-controller="publicGistsAppCtrl">
		<div class="row filter">
			<div class="input-group col-xs-8 pull-left">
				<span class="input-group-btn">
					<div class="dropdown">
						<button class="btn btn-default dropdown-toggle" type="button" id="filter-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Filter <span class="caret"></span>
						</button>
						<ul class="dropdown-menu" aria-labelledby="filter-dropdown">
							<li><a href="#" class="active">Description</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Owner Login</a></li>
						</ul>
					</div>
				</span>
				<input class="form-control" type="text" name="filter-key" ng-model="filterKey" placeholder="by Description">
			</div>
			<div class="dropdown pull-right">
				<button class="btn btn-default dropdown-toggle" type="button" id="sort-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sort <span class="caret"></span>
				</button>
				<ul class="dropdown-menu" aria-labelledby="sort-dropdown">
					<li><a href="#" class="{{orderSeq ? '' : 'active'}}" ng-click="changeOrder(false)">Newest First</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#" class="{{orderSeq ? 'active' : ''}}" ng-click="changeOrder(true)">Oldest First</a></li>
				</ul>
			</div>
		</div>

		<div class="row grid">
			<div class="col-md-4 col-sm-6" ng-repeat="gist in gists | filter : {'description' : filterKey} | orderBy : updated_at : orderSeq">
				<div class="box">
					<h4 ng-if="gist.description">{{ gist.description }}</h4>
					<h4 ng-if="!gist.description">No Description</h4>
					<h5 ng-if="gist.owner.login">Owned by <strong>{{ gist.owner.login }}</strong></h5>
					<h5 ng-if="!gist.owner.login">Owned by <strong>anonymous</strong></h5>
					<h5 class="text-muted">Updated on {{ gist.updated_at | date : "dd/MM/yyyy" }}</h5>
					<a href="{{ gist.html_url }}" target="_blank"><strong>View Gist</strong></a>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="assets/js/jquery.js"></script>
	<script type="text/javascript" src="assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="assets/js/angular.js"></script>
	<script type="text/javascript">
		var app = angular.module('publicGistsApp', []);
		
		app.controller('publicGistsAppCtrl', function($scope, $http) {
			$http.get("http://localhost/logic-square/gists.json")
			// $http.get("https://api.github.com/gists/public")
			.then(function(response) {
				$scope.gists = response.data;
			});

			$scope.changeOrder = function(order) {
				$scope.orderSeq = order;
			};
		});
	</script>
</body>
</html>