header .container-fluid {
	border-bottom: 1px solid #e1e4e8;
    background: #fafbfc;
    padding-bottom: 25px;
    padding-top: 25px;
}

.gist-type.label {
	top: -6px;
    color: rgba(0,1,0,0.5);
    background: none;
    border: 1px #777 solid;
    position: relative;
}

.filter.row {
	margin-top: 20px;
	margin-bottom: 20px;
}

.btn-default {
	background: none;
}

#filter-dropdown {
	border-radius: 4px 0 0 4px;
    border-right: none;
}

.dropdown .active {
	font-weight: 600;
}

.dropdown .active:after {
	content: "*";
}

.grid {
	background: rgba(0,0,0,0.01);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0,0,0,0.1) inset;
}

.grid .box {
	background: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px 18px;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.1);
}

/* MEDIA QUERIES */
@media (min-width: 992px) {
	.container-fluid {
		padding-left: 100px;
		padding-right: 100px;
	}
}

@media (min-width: 1200px) {
	.container-fluid {
		padding-left: 200px;
		padding-right: 200px;
	}
}